﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="home1.aspx.cs" Inherits="TopkMonitoring.home" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

     <style type="text/css">  
        .style1  
        {  
            width: 281px;  
        }  
    </style>

</head>
<body>
    <form id="form1" runat="server">
    <div>

         <table style="width:50%;">  
          
            <tr>  
                <td class="style1">  
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="211px" />  
 </td>  
             
            </tr>  

            <!-- <tr>  
                <td class="style1">  
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="211px" />  
 </td>  
             
            </tr> -->
          
            <tr>  
                <td class="style1">  
                    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Upload" />  
                </td>  
              
            </tr>  
        </table>  
      

    </div>
    </form>
</body>
</html>
